.playlistsHeader {
  width: 100%;
  padding: 3rem 0;
}

/* .playlistsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
} */
/* 
.playlistMeta {
  padding: 1rem;
} */
