<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joshua Barker</title>

    {% set globalCSS %}
      {% include "css/global.css" %}
    {% endset %}
    <style>{{ globalCSS | cssmin | safe }}</style>

    {% if css %}
      {% set layoutCSS %}
        {% include ["css/", css] | join %}
      {% endset %}
      <style>{{ layoutCSS | cssmin | safe }}</style>
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
