<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>joshBarker.{{ title }}</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header class="mx-auto max-w-screen-md px-4 py-16 flex justify-between">
    <img src="/assets/images/me-400.jpg" srcset="/assets/images/me-200.jpg 200w, /assets/images/me-300.jpg 300w, /assets/images/me-400.jpg 400w" sizes="100px" alt="Joshua Barker" height="100" width="100" class="rounded-full">
    <div class="flex flex-col justify-end text-sm">
      <a class="hover:text-blue-600 dark:hover:text-yellow-500" href="https://twitter.com/_joshuatrees" target="_blank" rel="noreferrer"><span class="font-bold text-gray-900 dark:text-yellow-300">Tw.</span> @_joshuatrees</a>
      <a class="hover:text-blue-600 dark:hover:text-yellow-500 mt-1" href="https://github.com/joshuafbarker" target="_blank" rel="noreferrer"><span class="font-bold text-gray-900 dark:text-yellow-300">Gh.</span> joshuafbarker</a>
    </div>
  </header>
  <main class="mx-auto max-w-screen-md p-4">
    {{ content | safe }}
  </main>
  <footer class="mx-auto max-w-screen-md px-4 py-8 flex justify-between items-baseline">
    <p>&copy;2021</p>
    <p>Made with<span class="mr-2 ml-1">🍺</span>in Kannapolis, NC.</p>
  </footer>
</body>
</html>