<!DOCTYPE html>
<html lang="en">
<head>
  {# meta info #}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hello, my name is Joshua Barker and I am a Web Developer.">

  {# favicon/shortcut icons #}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤘</text></svg>">

  {# social meta tags #}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_joshuatrees">
  <meta name="twitter:creator" content="@_joshuatrees">
  <meta name="twitter:image" content="/assets/images/me-400.jpg">

  <meta property="og:title" content="Joshua Barker">
  <meta property="og:type" content="article">
  <meta property="og:description" content="Hello, my name is Joshua Barker and I am a Web Developer.">
  <meta property="og:image" content="/assets/images/workspace.jpg">
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="844" />
  <meta property="og:locale" content="en_US" />

  {# tracking #}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75827339-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-75827339-1');
  </script>


  <title>Joshua Barker - {{ title }}</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header class="mx-auto max-w-screen-md px-4 py-8 md:py-16 flex justify-between">
    <img src="/assets/images/me-400.jpg" srcset="/assets/images/me-200.jpg 200w, /assets/images/me-300.jpg 300w, /assets/images/me-400.jpg 400w" sizes="100px" alt="Joshua Barker" height="100" width="100" class="rounded-full">
    <div class="flex flex-col justify-end text-sm">
      <a class="hidden md:block hover:text-blue-600 dark:hover:text-yellow-500" href="https://twitter.com/_joshuatrees" target="_blank" rel="noreferrer"><span class="font-bold text-gray-900 dark:text-yellow-300">Tw.</span> @_joshuatrees</a>
      <a class="hidden md:block hover:text-blue-600 dark:hover:text-yellow-500 mt-1" href="https://github.com/joshuafbarker" target="_blank" rel="noreferrer"><span class="font-bold text-gray-900 dark:text-yellow-300">Gh.</span> joshuafbarker</a>
      <a class="hidden md:block hover:text-blue-600 dark:hover:text-yellow-500 mt-1" href="mailto:joshuafbarker@gmail.com"><span class="font-bold text-gray-900 dark:text-yellow-300">Em.</span> joshuafbarker@gmail.com</a>
    </div>
  </header>
  <main class="mx-auto max-w-screen-md p-4">
    {{ content | safe }}
  </main>
  <footer class="mx-auto max-w-screen-md px-4 py-8 flex justify-between items-baseline">
    <p>&copy;2021</p>
    <p>Made with<span class="mr-2 ml-1">🍺</span>in Kannapolis, NC.</p>
  </footer>
</body>
</html>