.playlistCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
  background-image: linear-gradient(
    110deg,
    var(--color-one, #fff) 0%,
    var(--color-two, #ddd) var(--stop-two, 38%),
    var(--color-three, #bbb) 100%
  );
  color: white;
}

.playlistMeta {
  padding-top: 1rem;
}

.playlistImage {
  width: 100%;
}

.playlistCta {
  background-color: var(--cta-bg, #fff);
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color: var(--cta-text, #000);
}

.playlistTagsContainer {
  padding: 0.75rem 0;
}

.playlistTag {
  background-color: var(--color-one, #fff);
  display: inline-block;
  font-size: 0.75rem;
  padding: 2px 8px;
  margin: 0 4px;
  border-radius: 4px;
}

@media (min-width: 640px) {
  .playlistCard {
    flex-direction: row;
  }

  .playlistImage {
    width: 30%;
  }

  .playlistMeta {
    padding-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .playlistCta {
    width: 50%;
  }
}
