---
layout: base
title: home
---

<header class="mb-12">
  <h1 class="text-5xl font-bold tracking-tight mb-2 dark:text-white">Hello there. I'm Josh. ✌️</h1>
  <p class="text-lg">You've landed on my little corner of the galaxy.</p>
</header>

<section class="mb-12">
  <h2 class="text-2xl font-semibold tracking-tight mb-2 dark:text-white">Who am I?</h2>
  <p class="leading-relaxed">By day I'm a senior engineer <a href="https://redventures.com" target="_blank">@ redventures</a>. By night I'm a husband, father of three, major MCU and Star Wars fan, soccer enthusiast, country music hater, wannabe photographer, beer drinker, grill master, book reader, entertainment watcher and bald men of america ambassador.</p>
</section>

<section class="mb-12">
  <h2 class="text-2xl font-semibold tracking-tight mb-2 dark:text-white">What am I working on?</h2>
  <p class="leading-relaxed mb-4">I have always put all my time in effort into my day to day job, but these days I am branching out on some side projects. Here are a few that are in development.</p>
  <ul class="pl-6 list-disc">
    <li class="my-2">
      <a href="https://www.hazelcss.com">HazelCSS</a> - A Tailwind-like SCSS toolkit/framework built using the incredible SASS modules.
    </li>
    <li class="my-2">
      <a href="https://www.frontendcookbook.dev/">Front-end Cookbook</a> - A site dedicated to the front enders out there.
    </li>
  </ul>
</section>
