---
layout: base
title: home
---

<header class="mb-12">
  <h1 class="text-5xl font-bold tracking-tight mb-2 dark:text-white">Hello there. I'm Josh. ✌️</h1>
  <p class="text-lg">You've landed on my little corner of the galaxy.</p>
</header>

<section>
  <h2 class="text-2xl font-semibold tracking-tight mb-2 dark:text-white">Who am I?</h2>
  <p>By day I'm a senior engineer <a href="https://redventures.com" target="_blank">@ redventures</a>.</p>
</section>