---
layout: base.njk
---

<header>
  <h1>Hello world, I'm Josh.</h1>
  <p>
    Senior Engineer @
    <a href="https://redventures.com">Red Ventures.</a>
  </p>
</header>
<hr />
<main>
  <h2>Personal Projects</h2>
  <a href="/nerd">My Nerd Hub</a>
</main>
<hr />
<footer>
  <p>
    &copy; 2022 Joshua Barker &diamond;
    <a href="https://twitter.com/point_ix">Twitter</a> &diamond;
    <a href="https://github.com/joshuafbarker">GitHub</a> &diamond;
    <a href="mailto:joshuafbarker@icloud.com">joshuafbarker@icloud.com</a>
  </p>
</footer>
